<h2>Nova Tarefa</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descrição</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Prioridade</mat-label>
    <select matNativeControl formControlName="priority">
      <option value="ALTA">Alta</option>
      <option value="MEDIA">Média</option>
      <option value="BAIXA">Baixa</option>
    </select>
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" (click)="close()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit">Salvar</button>
  </div>
</form>
